<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Vehi-Scanner</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href=" {% static 'assets/css/bootstrap.min.css' %} ">

    <!-- External Css -->
    <link rel="stylesheet" href=" {% static 'assets/css/fontawesome-all.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'assets/css/themify-icons.css' %} " />
    <link rel="stylesheet" href=" {% static 'assets/css/et-line.css' %} " />
    <link rel="stylesheet" href=" {% static 'assets/css/bootstrap-select.min.css' %} " />
    <link rel="stylesheet" href=" {% static 'assets/css/plyr.css' %} " />
    <link rel="stylesheet" href=" {% static 'assets/css/flag.css' %} " />
    <link rel="stylesheet" href=" {% static 'assets/css/slick.css' %} " />
    <link rel="stylesheet" href=" {% static 'assets/css/owl.carousel.min.css' %} " />
    <link rel="stylesheet" href=" {% static 'assets/css/jquery.nstSlider.min.css' %} " />

    <!-- Custom Css -->
    <link rel="stylesheet" type="text/css" href=" {% static 'css/main.css' %} ">
    <link rel="stylesheet" type="text/css" href=" {% static 'dashboard/css/dashboard.css' %} ">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7CRoboto:300i,400,500" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href=" {% static 'images/fav.png' %} ">
    <link rel="apple-touch-icon" href=" {% static 'images/apple-touch-icon.png' %} ">
    <link rel="apple-touch-icon" sizes="72x72" href=" {% static 'images/icon-72x72.png' %} ">
    <link rel="apple-touch-icon" sizes="114x114" href=" {% static 'images/icon-114x114.png' %} ">








    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

    <header class="header-2">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="header-top">
              <div class="logo-area">
                <a href="{% url 'basic_app:dashboard' %}"><img src=" {% static 'images/logo-2.png' %} " alt=""></a>
              </div>
              <div class="header-top-toggler">
                <div class="header-top-toggler-button"></div>
              </div>
              <div class="top-nav">
                <div class="dropdown header-top-notification">
                  <a href="#" class="notification-button">Notification</a>
                  <div class="notification-card">
                    <div class="notification-head">
                      <span>Notifications</span>
                      <a href="#">Mark all as read</a>
                    </div>
                    <div class="notification-body">
                      <a href="home-2.html" class="notification-list">
                        <i class="fas fa-bolt"></i>
                        <p>Your Job Has Been Completed!</p>
                        <span class="time">5 hours ago</span>
                      </a>

                    </div>
                    <div class="notification-footer">
                      <a href="#">See all notification</a>
                    </div>
                  </div>
                </div>
                <div class="dropdown header-top-account">
                  <a href="#" class="account-button">My Account</a>
                  <div class="account-card">
                    <div class="header-top-account-info">
                      <a href="#" class="account-thumb">
                        <img src="images/account/thumb-1.jpg" class="img-fluid" alt="">
                      </a>
                      <div class="account-body">
                        <h5><a href="#">{{username}}</a></h5>
                        <span class="mail">{{email}}</span>
                      </div>
                    </div>
                    <ul class="account-item-list">
                      <li><a href=" {% url 'basic_app:logout' %} "><span class="ti-power-off"></span>Log Out</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>





    {% block content %}{% endblock %}







      <div class="footer-bottom-area">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="footer-bottom border-top">
                <div class="row">
                  <div class="col-xl-4 col-lg-5 order-lg-2">

                  </div>
                  <div class="col-xl-4 col-lg-4 order-lg-1">
                    <p class="copyright-text">Copyright <a href="#">Vehi-Scanner</a> 2021, All right reserved</p>
                  </div>
                  <div class="col-xl-4 col-lg-3 order-lg-3">
                    <div class="back-to-top">
                      <a href="#">Back to top<i class="fas fa-angle-up"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer End -->




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src=" {% static 'assets/js/jquery.min.js' %} "></script>
    <script src=" {% static 'assets/js/popper.min.js' %} "></script>
    <script src=" {% static 'assets/js/bootstrap.min.js' %} "></script>
    <script src=" {% static 'assets/js/feather.min.js' %} "></script>
    <script src=" {% static 'assets/js/bootstrap-select.min.js' %} "></script>
    <script src=" {% static 'assets/js/jquery.nstSlider.min.js' %} "></script>
    <script src=" {% static 'assets/js/owl.carousel.min.js' %} "></script>
    <script src=" {% static 'assets/js/visible.js' %} "></script>
    <script src=" {% static 'assets/js/jquery.countTo.js' %} "></script>
    <script src=" {% static 'assets/js/chart.js' %} "></script>
    <script src=" {% static 'assets/js/plyr.js' %} "></script>
    <script src=" {% static 'assets/js/tinymce.min.js' %} "></script>
    <script src=" {% static 'assets/js/slick.min.js' %} "></script>
    <script src=" {% static 'assets/js/jquery.ajaxchimp.min.js' %} "></script>

    <script src=" {% static 'js/custom.js' %} "></script>
    <script src=" {% static 'dashboard/js/dashboard.js' %} "></script>
    <script src=" {% static 'dashboard/js/datePicker.js' %} "></script>
    <script src=" {% static 'dashboard/js/upload-input.js' %} "></script>

    <script src=" {% static 'js/map.js' %} "></script>
  </body>
</html>
