{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Inside Code Goes Here To.... -->



    <!-- Breadcrumb -->
    <div class="alice-bg padding-top-70">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="breadcrumb-area">
              <h1>DASHBOARD</h1>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">Dashboard</li>
                <!--  <li class="breadcrumb-item active" aria-current="page">License Plate</li>-->
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Breadcrumb End -->

  <div class="alice-bg padding-top-70 padding-bottom-70">
    <div class="container no-gliters">
      <div class="row no-gliters">
        <div class="col">
          <div class="dashboard-container">
            <div class="dashboard-content-wrapper">

              <div class="card-body">
                <p>Upload the CCTV footage to be scanned. The file should be in the following formats : MP4, AVI</p>
                <p>File size limit : Upto 100MB</p>
              </div>
                <div class="download-resume dashboard-section">
                <div class="update-file">
                  <input type="file">Upload<i data-feather="upload-cloud"></i>
                </div>
                </div>

            </div>

          <div class="dashboard-sidebar">
          <div class="dashboard-menu">
            <ul>
              <li class="active"><i class="fas fa-home"></i><a href="{% url 'basic_app:dashboard' %}">Dashboard</a></li>
              <li><i class="fas fa-user"></i><a href="{% url 'basic_app:list_jobs' %}">Jobs List</a></li>
              <li><i class="fas fa-briefcase"></i><a href="{% url 'basic_app:logout' %}">Logout</a></li>
            </ul>
          </div>
        </div>

            </div>
          </div>
        </div>
      </div>
    </div>






<!-- ....Here -->
{% endblock %}
