{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Inside Code Goes Here To.... -->



    <!-- Breadcrumb -->
    <div class="alice-bg padding-top-70">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="breadcrumb-area">
              <h1>DASHBOARD</h1>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">Dashboard</li>
                <!--  <li class="breadcrumb-item active" aria-current="page">License Plate</li>-->
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Breadcrumb End -->

  <div class="alice-bg padding-top-70 padding-bottom-70">
    <div class="container no-gliters">
      <div class="row no-gliters">
        <div class="col">
          <div class="dashboard-container">
            <div class="dashboard-content-wrapper">

              <div class="feature-content">
                <p>Upload the CCTV footage to be scanned.</p>
                <p> The file should be in the following formats : MP4, AVI</p>
                <p>File size limit : Upto 100MB</p><br>
              </div>


              <form action="{% url 'basic_app:dashboard' %}" method="POST" enctype="multipart/form-data" class="dashboard-form">
                {% csrf_token %}
                <div class="dashboard-section basic-info-input">
                <div class="form-group row">
                <label class="col-sm-3 col-form-label">Job Name</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" placeholder="Job Name"  name="job_name"><br>
                </div>
                  <label class="col-md-3 col-form-label">Upload Video</label>
                <div class="download-resume dashboard-section">
                  <div class="update-file">
                    <input required type="file"  multiple name="video">Video file<i data-feather="upload-cloud"></i>
                  </div>
                </div>
                <div class="col-sm-9">
                    <br><input class="button" type="submit" value="Submit"></input>
                </div>
                </div>
              </div>

            </form>


            </div>

          <div class="dashboard-sidebar">
          <div class="dashboard-menu">
            <ul>
              <li class="active"><i class="fas fa-home"></i><a href="{% url 'basic_app:dashboard' %}">Dashboard</a></li>
              <li><i class="fas fa-user"></i><a href="{% url 'basic_app:list_jobs' %}">Jobs List</a></li>
              <li><i class="fas fa-briefcase"></i><a href="{% url 'basic_app:logout' %}">Logout</a></li>
            </ul>
          </div>
        </div>

            </div>
          </div>
        </div>
      </div>
    </div>






<!-- ....Here -->
{% endblock %}
