<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehi-Scanner</title>
</head>
<body>
    <h1>DASHBOARD</h1>
<form action="{% url 'basic_app:dashboard' %}" method="POST" enctype="multipart/form-data">
{% csrf_token %}
<input required type="file" multiple name="images" id="images" accept="image/*">
<input type="submit" value="upload" name="" id="">

</form>

<h3>Plates list</h3>
<ul>

{% for plate in plates %}
    <li>
        {{plate}}
    </li>
    {% endfor %}
</ul>

</body>
</html>