<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href=" {% static 'index.css' %}">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Yinka Enoch Adedokun">
    <title>Vehi-Scanner</title>
</head>
<body>
	<!-- Main Content -->
	<div class="container-fluid">

		<div class="row main-content bg-success text-center">

			<div class="col-md-4 text-center company__info">

				<span class="company__logo"><h2><span class="fa fa-android"></span></h2></span>
				<h4 class="company_title">Vehi-Scanner</h4>
			</div>
			<div class="col-md-8 col-xs-12 col-sm-12 login_form ">
				<div class="container-fluid">

					<div class="row">
						<h2>Log In</h2>
					</div>
					<div class="row">
						<form control="" class="form-group" action="{% url 'basic_app:index' %}" method="POST">
                            {% csrf_token %}
							<div class="row">
                                {{form.username}}
								<!-- <input type="text" name="username" id="username" class="form__input" placeholder="Username"> -->
							</div>
							<div class="row">
                                <!-- <span class="fa fa-lock"></span> -->
                                {{form.password}}
								<!-- <input type="password" name="password" id="password" class="form__input" placeholder="Password"> -->
							</div>
                            {% if messages %}
                            {% for message in messages %}
                          <div class="alert alert-danger margin-login-register" role = "alert">
                            {{ message }}
                          </div>
                            {% endfor %}
                            {% endif %}
							<div class="row">
								<input type="submit" value="Submit" class="btn">
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- Footer -->

</body>

</html>