{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Inside Code Goes Here To.... -->

    <!-- Breadcrumb -->
    <div class="alice-bg padding-top-70 padding-bottom-70">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="breadcrumb-area">
                <h1>Vehicle Records</h1>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Jobs List / Vehicle Records</li>
                  </ol>
                </nav>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- Breadcrumb End -->



      <div class="alice-bg padding-top-70 padding-bottom-70">
          <div class="container no-gliters">
            <div class="row no-gliters">
              <div class="col">
                <div class="dashboard-container">
                  <div class="dashboard-content-wrapper">

                      <div class="candidate-view-controller-wrapper">
                          <div class="candidate-view-controller">
                            <div class="controller list active">
                              <i data-feather="menu"></i>
                            </div>
                            <div class="controller grid">
                              <i data-feather="grid"></i>
                            </div>

                          </div>
                          <div class="showing-number">
                            <span>Showing Records</span>
                          </div>
                        </div>


                        <div class="candidate">
                          <div class="thumb">
                            <a href="#">
                              <img src="images/candidate/thumb-1.jpg" class="img-fluid" alt="">
                            </a>
                          </div>
                          <div class="body">
                            <div class="content">
                              <h4><a href="candidate-details.html">Vehicle License Plate</a></h4>
                              <div class="info">
                                <span class="work-post"><a href="#"><i data-feather="check-square"></i>Type</a></span>
                                <span class="location"><a href="#"><i data-feather="map-pin"></i>Colour</a></span>
                                <span class="work-post"><a href="#"><i data-feather="check-square"></i>Logo</a></span>
                                <span class="location"><a href="#"><i data-feather="map-pin"></i>Model</a></span>
                              </div>
                            </div>
                          </div>
                        </div>



                  </div>

                <div class="dashboard-sidebar">
                <div class="dashboard-menu">
                  <ul>
                    <li><i class="fas fa-home"></i><a href="employer-dashboard.html">Dashboard</a></li>
                    <li class="active"><i class="fas fa-user"></i><a href="employer-dashboard-edit-profile.html">Jobs List</a></li>
                    <li><i class="fas fa-briefcase"></i><a href="employer-dashboard-manage-job.html">Logout</a></li>
                  </ul>
                </div>
              </div>

                  </div>
                </div>
              </div>
            </div>
          </div>







<!-- ....Here -->
{% endblock %}
