{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Inside Code Goes Here To.... -->

    <!-- Breadcrumb -->
    <div class="alice-bg padding-top-70 padding-bottom-70">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="breadcrumb-area">
                <h1>Vehicle Records</h1>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Jobs List / Vehicle Records</li>
                  </ol>
                </nav>
              </div>
            </div>
            <div class="col-md-6">
              <div class="breadcrumb-form">
                <form action="{% url 'basic_app:ind_job' job_code %}" method="POST">
                  {% csrf_token %}
                  <input type="text" name="key" placeholder="Enter Attributes">
                  <button><i data-feather="search"></i></button>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- Breadcrumb End -->



      <div class="alice-bg padding-top-70 padding-bottom-70">
          <div class="container no-gliters">
            <div class="row no-gliters">
              <div class="col">
                <div class="dashboard-container">

                  {% if blank == 'no' %}

                  <div class="dashboard-content-wrapper">

                      <div class="candidate-view-controller-wrapper">
                          <div class="candidate-view-controller">




                          </div>
                          <div class="showing-number">
                            <span>Showing {{nums}} Records</span>
                          </div>
                        </div>

                        {% for vehicle in vehicle_records %}
                        {% if not vehicle.license_plate == '0' %}
                        <div class="candidate">
                          <div class="thumb">
                            <a href="{{vehicle.image.url}}">
                              <img src="{{vehicle.image.url}}" class="img-fluid" alt="">
                            </a>
                          </div>
                          <div class="body">
                            <div class="content">
                              {% if vehicle.license_plate == '0' %}
                              <h4>Not Detected</h4>
                              {% else %}
                              <h4>{{vehicle.license_plate}}</h4>
                              {% endif %}
                              <div class="info">

                                <span class="work-post"><a href="#"><i data-feather="check-square"></i>{{vehicle.colour}}</a></span>

                                {% if vehicle.vehicle_type == 'Car' %}
                                <span class="location"><i class="fas fa-car" id="icon-space"></i>{{vehicle.vehicle_type}}</span>
                                {% elif vehicle.vehicle_type == 'Bicycle' %}
                                <span class="location"><i class="fas fa-bicycle" id="icon-space"></i>{{vehicle.vehicle_type}}</span>
                                {% elif vehicle.vehicle_type == 'Bus' %}
                                <span class="location"><i class="fas fa-bus" id="icon-space"></i>{{vehicle.vehicle_type}}</span>
                                {% elif vehicle.vehicle_type == 'Motorcycle' %}
                                <span class="location"><i class="fas fa-motorcycle" id="icon-space"></i>{{vehicle.vehicle_type}}</span>
                                {% elif vehicle.vehicle_type == 'Truck' %}
                                <span class="location"><i class="fas fa-truck" id="icon-space"></i>{{vehicle.vehicle_type}}</span>
                                {% else %}
                                <span class="location"><i class="fas fa-car" id="icon-space"></i>{{vehicle.vehicle_type}}</span>
                                {% endif %}

                                <span class="location"> <i class="fas fa-stopwatch" id="icon-space" ></i> {{vehicle.vehicle_model}}</span>
               
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endif %}
                        {% endfor %}

                        {% for vehicle in vehicle_records %}
                        {% if vehicle.license_plate == '0' %}
                        <div class="candidate">
                          <div class="thumb">
                            <a href="{{vehicle.image.url}}">
                              <img src="{{vehicle.image.url}}" class="img-fluid" alt="">
                            </a>
                          </div>
                          <div class="body">
                            <div class="content">
                              {% if vehicle.license_plate == '0' %}
                              <h4>Not Detected</h4>
                              {% else %}
                              <h4>{{vehicle.license_plate}}</h4>
                              {% endif %}                           
                                 <div class="info">

                                <span class="work-post"><a href="#"><i data-feather="check-square"></i>{{vehicle.colour}}</a></span>

                                {% if vehicle.vehicle_type == 'Car' %}
                                <span class="location"><i class="fas fa-car" id="icon-space"></i>{{vehicle.vehicle_type}}</span>
                                {% elif vehicle.vehicle_type == 'Bicycle' %}
                                <span class="location"><i class="fas fa-bicycle" id="icon-space"></i>{{vehicle.vehicle_type}}</span>
                                {% elif vehicle.vehicle_type == 'Bus' %}
                                <span class="location"><i class="fas fa-bus" id="icon-space"></i>{{vehicle.vehicle_type}}</span>
                                {% elif vehicle.vehicle_type == 'Motorcycle' %}
                                <span class="location"><i class="fas fa-motorcycle" id="icon-space"></i>{{vehicle.vehicle_type}}</span>
                                {% elif vehicle.vehicle_type == 'Truck' %}
                                <span class="location"><i class="fas fa-truck" id="icon-space"></i>{{vehicle.vehicle_type}}</span>
                                {% else %}
                                <span class="location"><i class="fas fa-car" id="icon-space"></i>{{vehicle.vehicle_type}}</span>
                                {% endif %}
                                <span class="location"> <i class="fas fa-stopwatch" id="icon-space" ></i> {{vehicle.vehicle_model}}</span>

                              </div>
                            </div>
                          </div>
                        </div>
                        {% endif %}
                        {% endfor %}


                          {% if key %}
                          <form action="{% url 'basic_app:generate_key' job_code key %}" method="POST">
                            {% csrf_token %}
                            <br><button type="submit" class="btn btn-primary btn-lg">Generate Report</button>
                            </form>
                          {% else %}
                          <form action="{% url 'basic_app:generate' job_code %}" method="POST">
                            {% csrf_token %}
                           <br> <button type="submit" class="btn btn-primary btn-lg">Generate Report</button>

                          </form>
                          {% endif %}
                  </div>
                  {% else %}
                  <div class="dashboard-content-wrapper">



                            <div class="alert-wrap">
                              <div class="jy-alert danger-alert">
                                <div class="icon">
                                  <i class="fas fa-check-circle"></i>
                                </div>
                                <p>No results matching the entered keyword!!</p>
                                <div class="close_">
                                  <a href="{% url 'basic_app:ind_job' job_code %}"><i class="fas fa-times"></i></a>
                                </div>
                              </div>
                            </div>

                          </div>
                  {% endif %}

                  <div class="dashboard-sidebar">
                    <div class="dashboard-menu">
                      <ul>
                        <li><i class="fas fa-home"></i><a href="{% url 'basic_app:dashboard' %}">Dashboard</a></li>
                        <li class="active"><i class="fas fa-tasks"></i><a href="{% url 'basic_app:list_jobs' %}">Jobs List</a></li>
                        <li><i class="fas fa-sign-out-alt"></i><a href="{% url 'basic_app:logout' %}">Logout</a></li>
                      </ul>
                    </div>
                  </div>

                  </div>
                </div>
              </div>
            </div>
          </div>







<!-- ....Here -->
{% endblock %}
