{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Inside Code Goes Here To.... -->

    <!-- Breadcrumb -->
    <div class="alice-bg padding-top-70 padding-bottom-70">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="breadcrumb-area">
                <h1>Vehicle Records</h1>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Jobs List / Vehicle Records</li>
                  </ol>
                </nav>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- Breadcrumb End -->



      <div class="alice-bg padding-top-70 padding-bottom-70">
          <div class="container no-gliters">
            <div class="row no-gliters">
              <div class="col">
                <div class="dashboard-container">
                  <div class="dashboard-content-wrapper">

                      <div class="candidate-view-controller-wrapper">
                          <div class="candidate-view-controller">
                            <div class="controller list active">
                              <i data-feather="menu"></i>
                            </div>


                          </div>
                          <div class="showing-number">
                            <span>Showing {{nums}} Records</span>
                          </div>
                        </div>

                        {% for vehicle in vehicle_records %}
                        <div class="candidate">
                          <div class="thumb">
                            <a href="#">
                              <img src="images/candidate/thumb-1.jpg" class="img-fluid" alt="">
                            </a>
                          </div>
                          <div class="body">
                            <div class="content">
                              <h4>{{vehicle.license_plate}}</h4>
                              <div class="info">
                                <span class="work-post"><i data-feather="check-square"></i>{{vehicle.vehicle_type}}</span>
                                <span class="location"><i data-feather="map-pin"></i>{{vehicle.colour}}</span>
                                <span class="work-post"><i data-feather="check-square"></i>{{vehicle.vehicle_logo}}</span>
                                <span class="location"><i data-feather="map-pin"></i>{{vehicle.vehicle_model}}</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        {% endfor %}



                  </div>

                  <div class="dashboard-sidebar">
                    <div class="dashboard-menu">
                      <ul>
                        <li><i class="fas fa-home"></i><a href="{% url 'basic_app:dashboard' %}">Dashboard</a></li>
                        <li class="active"><i class="fas fa-tasks"></i><a href="{% url 'basic_app:list_jobs' %}">Jobs List</a></li>
                        <li><i class="fas fa-sign-out-alt"></i><a href="{% url 'basic_app:logout' %}">Logout</a></li>
                      </ul>
                    </div>
                  </div>

                  </div>
                </div>
              </div>
            </div>
          </div>







<!-- ....Here -->
{% endblock %}
