{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Inside Code Goes Here To.... -->



    <!-- Breadcrumb -->
    <div class="alice-bg padding-top-70 padding-bottom-70">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="breadcrumb-area">
              <h1>Jobs</h1>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">Jobs List</li>
                </ol>
              </nav>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- Breadcrumb End -->


    <div class="alice-bg section-padding-bottom">
        <div class="container no-gliters">
          <div class="row no-gliters">
            <div class="col">
              <div class="dashboard-container">
                <div class="dashboard-content-wrapper">
                  <div class="manage-candidate-container">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Job Title</th>
                          <th>Status</th>
                          <th class="action">Action</th>
                        </tr>
                      </thead>
                      <tbody>

                        {% for job in joblist %}
                        <tr class="candidates-list">
                          <td class="title">

                            <div class="body">
                              <h5><a href="{% url 'basic_app:ind_job' job.job_code %}">Name of the job</a></h5>
                              <div class="info">
                                <span class="designation"><a href="#"><i data-feather="check-square"></i>{{job.created_on}}</a></span>
                                <!--<span class="location"><a href="#"><i data-feather="map-pin"></i>New Orleans</a></span>-->
                              </div>
                            </div>
                          </td>
                          <td class="status"><i data-feather="check-circle"></i>{{job.status}}</td>
                          <td class="action">

                            {% if job.status == 'pending' %}
                            <div class="candidate">
                              <div class="body">

                                <div class="button-area">
                                  <a href="#">View Job</a>
                                </div>
                              </div>
                            </div>
                            {% else %}
                            <div class="candidate">
                                <div class="body">
  
                                  <div class="button-area">
                                    <a href="{% url 'basic_app:ind_job' job.job_code %}">View Job</a>
                                  </div>
                                </div>
                              </div>

                              {% endif %}


                          </td>
                        </tr>

                        {% endfor %}

                      </tbody>
                    </table>

                  </div>
                </div>

                <div class="dashboard-sidebar">
                    <div class="dashboard-menu">
                      <ul>
                        <li><i class="fas fa-home"></i><a href="{% url 'basic_app:dashboard' %}">Dashboard</a></li>
                        <li class="active"><i class="fas fa-user"></i><a href="{% url 'basic_app:list_jobs' %}">Jobs List</a></li>
                        <li><i class="fas fa-briefcase"></i><a href="{% url 'basic_app:logout' %}">Logout</a></li>
                      </ul>
                    </div>
                  </div>





              </div>
            </div>
          </div>
        </div>
      </div>





<!-- ....Here -->
{% endblock %}
