{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Inside Code Goes Here To.... -->



    <!-- Breadcrumb -->
    <div class="alice-bg padding-top-70 padding-bottom-70">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="breadcrumb-area">
              <h1>Jobs</h1>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">Jobs List</li>
                </ol>
              </nav>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- Breadcrumb End -->


    <div class="alice-bg section-padding-bottom">
        <div class="container no-gliters">
          <div class="row no-gliters">
            <div class="col">
              <div class="dashboard-container">
                <div class="dashboard-content-wrapper">
                  <div class="manage-candidate-container">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Job Title</th>
                          <th>Status</th>
                          <th class="action"></th>
                        </tr>
                      </thead>
                      <tbody>

                        {% for job in joblist %}
                        <tr class="candidates-list">
                          <td class="title">

                            <div class="body">
                              {% if job.status == "completed" %}

                              <h5><a href="{% url 'basic_app:ind_job' job.job_code %}">{{job.job_name}}</a></h5>
                              {% else %}
                              <h5>{{job.job_name}}</h5>


                              {% endif %}

                              <div class="info">
                                <span class="designation"><i id="icon-space" class="far fa-calendar-plus"></i>Created on: {{job.created_on}}</span>
                                {% if job.status == 'completed' %}
                                <p><span class="location"> <i class="far fa-calendar-check" id="icon-space"></i> Completed on: {{job.completed_on}}</span></p>
                                {% endif %}
                              </div>
                            </div>
                          </td>
                          {% if job.status == 'completed' %}
                          <td class="status"><i class="far fa-check-circle" id="icon-check">  </i>{{job.status|title}}</td>
                          {% else %}
                          <td class="status"><i class="far fa-clock" id="icon-space">  </i>{{job.status|title}}</td>

                          {% endif %}
                          <td class="action">

                            {% if job.status == 'pending' %}

                            {% else %}
                            <div class="candidate">
                                <div class="body">
                                  <div class="button-area">
                                    <a href="{% url 'basic_app:ind_job' job.job_code %}">View Job</a>
                                  </div>
                                </div>
                              </div>

                              {% endif %}


                          </td>
                        </tr>

                        {% endfor %}

                      </tbody>
                    </table>

                  </div>
                </div>

                <div class="dashboard-sidebar">
                    <div class="dashboard-menu">
                      <ul>
                        <li><i class="fas fa-home"></i><a href="{% url 'basic_app:dashboard' %}">Dashboard</a></li>
                        <li class="active"><i class="fas fa-tasks"></i><a href="{% url 'basic_app:list_jobs' %}">Jobs List</a></li>
                        <li><i class="fas fa-sign-out-alt"></i><a href="{% url 'basic_app:logout' %}">Logout</a></li>
                      </ul>
                    </div>
                  </div>





              </div>
            </div>
          </div>
        </div>
      </div>





<!-- ....Here -->
{% endblock %}
