{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Inside Code Goes Here To.... -->



    <!-- Breadcrumb -->
    <div class="alice-bg padding-top-70 padding-bottom-70">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="breadcrumb-area">
              <h1>Jobs</h1>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">Jobs List</li>
                </ol>
              </nav>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- Breadcrumb End -->


    <div class="alice-bg section-padding-bottom">
        <div class="container no-gliters">
          <div class="row no-gliters">
            <div class="col">
              <div class="dashboard-container">
                <div class="dashboard-content-wrapper">
                  <div class="manage-candidate-container">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Job Title</th>
                          <th>Status</th>
                          <th class="action">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="candidates-list">
                          <td class="title">
                            <div class="thumb">
                              <img src="dashboard/images/user-1.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="body">
                              <h5><a href="#">Lula Wallace</a></h5>
                              <div class="info">
                                <span class="designation"><a href="#"><i data-feather="check-square"></i>Senior UI / UX Designer</a></span>
                                <span class="location"><a href="#"><i data-feather="map-pin"></i>New Orleans</a></span>
                              </div>
                            </div>
                          </td>
                          <td class="status"><i data-feather="check-circle"></i>Shortlisted</td>
                          <td class="action">
                            <a href="#" class="download"><i data-feather="download"></i></a>
                            <a href="#" class="inbox"><i data-feather="mail"></i></a>
                            <a href="#" class="remove"><i data-feather="trash-2"></i></a>
                          </td>
                        </tr>
                        
                      </tbody>
                    </table>
                    <div class="pagination-list text-center">
             
                    </div>
                  </div>
                </div>


                <div class="dashboard-sidebar">
                    <div class="dashboard-menu">
                      <ul>
                        <li><i class="fas fa-home"></i><a href="employer-dashboard.html">Dashboard</a></li>
                        <li class="active"><i class="fas fa-user"></i><a href="employer-dashboard-edit-profile.html">Jobs List</a></li>
                        <li><i class="fas fa-briefcase"></i><a href="employer-dashboard-manage-job.html">Logout</a></li>
                      </ul>
                    </div>
                  </div>





              </div>
            </div>
          </div>
        </div>
      </div>
    




<!-- ....Here -->
{% endblock %}