<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Vehi-Scanner</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href=" {% static 'assets/css/bootstrap.min.css' %} ">

    <!-- External Css -->
    <link rel="stylesheet" href=" {% static 'assets/css/fontawesome-all.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'assets/css/themify-icons.css' %} " />
    <link rel="stylesheet" href=" {% static 'assets/css/et-line.css' %} " />
    <link rel="stylesheet" href=" {% static 'assets/css/bootstrap-select.min.css' %} " />
    <link rel="stylesheet" href=" {% static 'assets/css/plyr.css' %} " />
    <link rel="stylesheet" href=" {% static 'assets/css/flag.css' %} " />
    <link rel="stylesheet" href=" {% static 'assets/css/slick.css' %} " />
    <link rel="stylesheet" href=" {% static 'assets/css/owl.carousel.min.css' %} " />
    <link rel="stylesheet" href=" {% static 'assets/css/jquery.nstSlider.min.css' %} " />

    <!-- Custom Css -->
    <link rel="stylesheet" type="text/css" href=" {% static 'css/main.css' %} ">
    <link rel="stylesheet" type="text/css" href=" {% static 'dashboard/css/dashboard.css' %} ">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7CRoboto:300i,400,500" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href=" {% static 'images/fav.png' %} ">
    <link rel="apple-touch-icon" href=" {% static 'images/apple-touch-icon.png' %} ">
    <link rel="apple-touch-icon" sizes="72x72" href=" {% static 'images/icon-72x72.png' %} ">
    <link rel="apple-touch-icon" sizes="114x114" href=" {% static 'images/icon-114x114.png' %} ">





    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

<div class="alice-bg section-padding">
    <div class="container">
      <div class="row justify-content-lg-center">
        <div class="col-lg-8">
          <div class="invoice-wrap">
            <div class="invoice">
              <div class="invoice-header">
                <div class="logo-area">
                  <img src="{% static 'images/logo-new.png' %}" class="img-fulid" alt="" width="20" height="10">
                </div>
                <div class="title">
                  <span>R</span>
                  <span>E</span>
                  <span>P</span>
                  <span>O</span>
                  <span>R</span>
                  <span>T</span>
                </div>
              </div>
              <div class="invoice-info">
                <div class="left-info">
                  <h6>Generated For</h6>
                  <span class="name">{{username}}</span>
                  <p>{{email}}</p>
                </div>
                <div class="right-info">
                  <ul>
                    <li><span class="title">Date</span><span>{{date.day}}/{{date.month}}/{{date.year}}</span></li>
                    <li><span class="title">Time</span><span>{{date.time}}</span></li>

                  </ul>
                </div>
              </div>




                <!-- <h6>Report generated for keyword "car"</h6> -->



              <div class="invoice-table">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Index</th>
                      <th scope="col">License Plate</th>
                      <th scope="col">Colour</th>
                      <th scope="col">Vehicle Type</th>
                    </tr>
                  </thead>
                  <tbody>
                   
                    {% for rec in records %}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      {% if rec.license_plate == '0' %}
                      <td> Not Detected </td>
                      {% else %}
                      <td> {{rec.license_plate}} </td>
                      {% endif %}
                      <td>{{rec.colour}}</td>
                      <td>{{rec.vehicle_type}}</td>
                    </tr>
                    {% endfor %}

                  </tbody>
                </table>
              </div>
              <div class="invoice-footer">
                <div class="invoice-by">
                  <h4>Report Generated By</h4>
                  <h6 class="name">Vehi-Scanner</h6>
                    <span><a href="https://vehi-scanner.in">www.vehi-scanner.in</a></span>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src=" {% static 'assets/js/jquery.min.js' %} "></script>
    <script src=" {% static 'assets/js/popper.min.js' %} "></script>
    <script src=" {% static 'assets/js/bootstrap.min.js' %} "></script>
    <script src=" {% static 'assets/js/feather.min.js' %} "></script>
    <script src=" {% static 'assets/js/bootstrap-select.min.js' %} "></script>
    <script src=" {% static 'assets/js/jquery.nstSlider.min.js' %} "></script>
    <script src=" {% static 'assets/js/owl.carousel.min.js' %} "></script>
    <script src=" {% static 'assets/js/visible.js' %} "></script>
    <script src=" {% static 'assets/js/jquery.countTo.js' %} "></script>
    <script src=" {% static 'assets/js/chart.js' %} "></script>
    <script src=" {% static 'assets/js/plyr.js' %} "></script>
    <script src=" {% static 'assets/js/tinymce.min.js' %} "></script>
    <script src=" {% static 'assets/js/slick.min.js' %} "></script>
    <script src=" {% static 'assets/js/jquery.ajaxchimp.min.js' %} "></script>

    <script src=" {% static 'js/custom.js' %} "></script>
    <script src=" {% static 'dashboard/js/dashboard.js' %} "></script>
    <script src=" {% static 'dashboard/js/datePicker.js' %} "></script>
    <script src=" {% static 'dashboard/js/upload-input.js' %} "></script>

    <script src=" {% static 'js/map.js' %} "></script>
  </body>
</html>
